@tailwind base;
@tailwind components;
@tailwind utilities;

.item-info {
  margin-left: 10px;
}

.item-title {
  font-size: 30px;
}

.item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.item-total {
  font-size: 16px;
}